<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJZCAI5DRH5iLIkdY0wkxzRJbGiA5Z9qA</string>
	<key>GCM_SENDER_ID</key>
	<string>128155079596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodrigoacode.SwiftInstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>swift-instagram-clone-34429</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-instagram-clone-34429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128155079596:ios:905832413bbd44dfc26009</string>
</dict>
</plist>